.weui-tabbar__label{
    color: #f63a52;
    margin: 0;
}
.weui-tabbar__icon {
    color: #f63a52;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.mint-header{
    background-color:#000;
}
.vux-tab{
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    background: #FF6074 !important;
    box-shadow: 0 0 6px 0 #931A3D;
    color: #fff !important
}
.vux-tab-item{
    color: #fff !important
}
.vux-tab .vux-tab-item.vux-tab-selected{
    background: #CC1C33;
    color: #fff !important;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
}
.vux-tab-ink-bar{
    background-color:#fff !important;
    height: 0px !important;
}

.weui-dialog__btn_primary {
    background-image: linear-gradient(-45deg, #F8487E 0%, #FF998B 100%);
    color: #fff !important;
}
.weui-dialog__hd{
    font-size: 22px;
    color: #212121;
    line-height: 22px;
}
.weui-dialog__bd{
    font-size: 15px;
    color: #212121;
    line-height: 24px;
}
.weui-tabbar__icon {
    width: 20px !important;
    height: 20px !important
}